<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>shkurkin</name>
            <displayName><![CDATA[Shkurkin]]></displayName>
            <version><![CDATA[1.0]]></version>
            <description><![CDATA[Learning about Prestashop modules]]></description>
            <author><![CDATA[Eli Shkurkin]]></author>
            <tab><![CDATA[others]]></tab>
	<confirmUninstall>Are you sure?</confirmUninstall>
            <is_configurable>0</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>